# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
src/node_modules
src/assets/vendor/*
src/assets/css/main.css.map
src/assets/css/*main*.css
src/assets/js/*scripts*.js
src/assets/js/vendor/modernizr.min.js
src/assets/manifest.json
